
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 640px) {
	body.home{
		-webkit-perspective:700px; /* Chrome, Safari, Opera  */
		-moz-perspective:700px; /* Chrome, Safari, Opera  */
		perspective:700px; /* Chrome, Safari, Opera  */
		.main-container{
			-webkit-perspective: 700px;
			-ms-perspective: 700px;
			perspective: 700px;
			-webkit-transform: translateZ( -500px );
			-moz-transform: translateZ( -500px );
			transform: translateZ( -500px );
		}
	}
	.location{
		display: none;
	}
	// .header-container {
	// 	h1.title{
	// 		display: none;
	// 	}
	// 	nav li{
	// 		&.active{
	// 			display: none;
	// 		}
	// 		a{
	// 			text-align: left;
	// 			padding: 10px 40px;
	// 			font-size: 2em;
	// 			i{
	// 				margin-right: 20px;
	// 			}
	// 		}
	// 	}
	// }
}
@media only screen and (min-width: 480px) {

/* ====================
	INTERMEDIATE: Menu
   ==================== */

	nav a {
		margin: 0 1.7%;
		padding: 25px 2%;
		margin-bottom: 0;
	}

/* ========================
	INTERMEDIATE: IE Fixes
   ======================== */

	nav ul li {
		display: inline;
	}

	.oldie nav a {
		margin: 0 0.7%;
	}
	.footer-container footer iframe{
		// display: block;
	}
}

@media only screen and (min-width: 768px) {

  .header-container{
   	display: block;
  }
	.content-work{
		.text, .image{
			// float: left;
			// width: 50%;
			margin: 0 10% 10px;
		}
	}

/* ============
	WIDE: Menu
   ============ */


	nav {
		float: right;
		width: 38%;
		a{
			float: right;
		}
	}

/* ============
	WIDE: Main
   ============ */

	.main article {
		float: left;
		width: 57%;
	}

	.main aside {
		float: right;
		width: 28%;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
	Maximal Width
   =============== */

	.wrapper {
		width: 1026px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}