<div class="main wrapper clearfix">
	<div class="card active" id="maincard">
		<div class="card-shadow"></div>
		<div class="card-background"></div>
		<div class="card-content">
			<h1>Mephysto</h1>
			<h2>Maurice Melchers</h2>
			<p>	Front End Web Developer.<br>
				<a href="/#/work" class="btnLightning"><i class="fa fa-briefcase"></i>Work</a>
				<a href="/#/resume" class="btnLightning"><i class="fa fa-th-list"></i>Resume</a>
				<a href="mailto:contact@mauricemelchers.nl" target="_blank" class="btnLightning"><i class="fa fa-envelope"></i>Contact me</a>
			</p>
		</div>
	</div>
</div> <!-- #main -->
