
<div class="content-landing wrapper clearfix">
  <div class="landing-card active" id="maincard">
    <div class="landing-card-shadow"></div>
    <div class="landing-card-background"></div>
    <div class="landing-card-content">
      <h1>Mephysto</h1>
      <h2>Maurice Melchers</h2>
      <p>Front End Web Developer.<br/><a class="btnLightning" href="/#/work"><i class="fa fa-briefcase"></i>Work</a><a class="btnLightning" href="/#/resume"><i class="fa fa-th-list"></i>Resume</a><a class="btnLightning" href="mailto:contact@mauricemelchers.nl" target="_blank"><i class="fa fa-envelope"></i>Contact me</a></p>
    </div>
  </div>
</div>
<!-- #main-->