
<div class="content-resume wrapper clearfix">
  <div class="resumain">
    <p class="name"><a href="./">Maurice Melchers</a></p>
    <p class="title">Front-end Web Developer</p>
    <section class="intro clearfix">
      <h1><span class="fa fa-th-list"></span> Resume</h1>
      <div class="resume-picture" style="background-image:url('img/build/maurice-melchers-profile.jpg');"><img class="hidden" src="img/build/maurice-melchers-profile.jpg" alt="Profile picture of Maurice Melchers"/></div>
      <ul class="resume-overview">
        <li><i class="fa fa-check"></i> Front-end web developer with over 8 years of professional experience.</li>
        <li><i class="fa fa-check"></i> Primary focus on front-end web site development.</li>
        <li><i class="fa fa-check"></i> Experience in Interaction Design, UX, and Motion Graphics.</li>
      </ul>
    </section>
    <section class="resume-skills">
      <h2>Technical Expertise</h2>
      <ul>
        <li><i class="fa fa-key"></i> Design &dash; <em>Wireframing, Rapid Prototyping, Interaction Design, UX Design, Motion Design.</em></li>
        <li><i class="fa fa-key"></i> Front-End &dash; <em>Front-end:	HTML5, CSS3, SCSS/LESS, JavaScript, SEO, Accessibility, Responsive, Cross-browser compatibility, PHP.</em></li>
        <li><i class="fa fa-key"></i> Frameworks/API's &dash; <em>LESS, SCSS, Node.js, Grunt, jQuery, Angular, Backbone, Bootstrap, Google Maps, Facebook / Twitter.</em></li>
        <li><i class="fa fa-key"></i> Software &dash; <em>Photoshop, Illustrator, After Effects, Flash, Axure, Word, Excel, <abbr title="Subversion">SVN</abbr>, Github, Silverstripe, Wordpress.</em></li>
        <li><i class="fa fa-key"></i> Other skills &dash; <em>Version Control (<abbr title="Subversion">SVN</abbr> and GIT). Can work on either Mac or PC.</em></li>
      </ul>
    </section>
    <section class="agencies">
      <h2>Professional Experience</h2>
      <ul>
        <li class="client" ng-repeat="client in resume">
          <div class="location"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{client.geo.x}},{{client.geo.y}}&amp;markers={{client.geo.x}},{{client.geo.y}}&amp;zoom=2&amp;size=180x100&amp;sensor=false"/><img src="http://maps.googleapis.com/maps/api/staticmap?center={{client.geo.x}},{{client.geo.y}}&amp;markers={{client.geo.x}},{{client.geo.y}}&amp;zoom=10&amp;size=180x100&amp;sensor=false"/></div>
          <h3 class="client-name"><i class="fa fa-briefcase"></i><a href="{{client.link}}" target="_blank">{{client.title}}</a></h3>
          <p class="client-description"><i class="fa fa-wrench"></i><span ng-bind-html="client.description"></span></p>
          <p class="client-location"><i class="fa fa-map-marker"></i><span>{{client.location}}</span></p>
          <p class="client-date"><i class="fa fa-calendar"></i><em>{{client.date}}</em></p>
        </li>
      </ul>
    </section>
    <section class="education">
      <h2>Education</h2>
      <ul>
        <li>
          <div class="location"><img src="http://maps.googleapis.com/maps/api/staticmap?center=51.918829,4.48849&amp;markers=52.401329,4.89296&amp;zoom=2&amp;size=180x100&amp;sensor=false"/><img src="http://maps.googleapis.com/maps/api/staticmap?center=51.918829,4.48849&amp;markers=52.401329,4.89296&amp;zoom=10&amp;size=180x100&amp;sensor=false"/></div>
          <h3 class="client-name"><i class="fa fa-institution"></i>Hogeschool Rotterdam</h3>
          <p class="client-description"><i class="fa fa-graduation-cap"></i><span>Bachelor of Science, Communication & Multimedia Design<br/><em>Graduated with a Major in Communication & Multimedia Design, a Minor in Motion Graphics and a thesis on Augmented Reality.</em></span></p>
          <p class="client-location"><i class="fa fa-map-marker"></i><span>Rotterdam, the Netherlands</span></p>
          <p class="client-date"><i class="fa fa-calendar"></i><em>2004 - 2009</em></p>
        </li>
      </ul>
    </section>
    <section class="references">
      <h2>References</h2>
      <ul>
        <li>
          <p>References available on <a href="mailto:contact@mauricemelchers.nl" target="_blank">request</a>.</p>
        </li>
      </ul>
    </section>
    <section class="onlineprofiles">
      <h2>Online Profiles</h2>
      <p><a href="https://www.linkedin.com/in/mauricemelchers" target="_blank" title="view my Linkedin profile"><i class="fa fa-linkedin-square"></i>Linkedin</a><a href="https://github.com/mephysto" target="_blank" title="view my Github profile"><i class="fa fa-github-square"></i>Github</a><a href="https://twitter.com/mephysto" target="_blank" title="view my Twitter profile"><i class="fa fa-twitter-square"></i>Twitter</a><a href="http://codepen.io/mephysto/" target="_blank" title="view my Codepen repository"><i class="fa fa-codepen"></i>Codepen</a></p>
    </section>
  </div>
</div>
<!-- #main-->