<div class="content-resume wrapper clearfix">
	<div class="resumain">
		<p class="name">Maurice Melchers</p>
		<p class="title">Front-end Web Developer</p>
		<section class="intro clearfix">
			<h1><span class="fa fa-th-list"></span> Resume</h1>
			<div class="resume-picture" style="background-image:url('img/build/maurice-melchers-profile.jpg')">
				<img src="img/build/maurice-melchers-profile.jpg" alt="Profile picture of Maurice Melchers" class="hidden">
			</div>
			<ul class="resume-overview">
				<li><span class="fa fa-check"></span> Front-end web developer with over 8 years of professional experience.</li>
				<li><span class="fa fa-check"></span> Primary focus on front-end web site development.</li>
				<li><span class="fa fa-check"></span> Experience in Interaction Design, UX, and Motion Graphics.</li>
			</ul>
		</section>
		<section class="resume-skills">
			<h2>Technical Expertise</h2>
			<ul>
				<li><span class="fa fa-key"></span> Design &dash; <em>Wireframing, Rapid Prototyping, Interaction Design, UX Design, Motion Design.</em></li>
				<li><span class="fa fa-key"></span> Front-End &dash; <em>Front-end:	HTML5, CSS3, SCSS/LESS, JavaScript, SEO, Accessibility, Responsive, Cross-browser compatibility, PHP, Flash Actionscript 3.0.</em></li>
				<li><span class="fa fa-key"></span> Frameworks/API's &dash; <em>LESS, SASS, Node.js, Grunt, jQuery, Angular, Backbone, Bootstrap, Google Maps, Facebook / Twitter.</em></li>
				<li><span class="fa fa-key"></span> Software &dash; <em>Photoshop, Illustrator, After Effects, Flash, Axure, Word, Excel, <abbr title="Subversion">SVN</abbr>, Github, Silverstripe, Wordpress.</em></li>
				<li><span class="fa fa-key"></span> Other skills &dash; <em>Version Control (<abbr title="Subversion">SVN</abbr> and GIT). Can work on either Mac or PC.</em></li>
			</ul>
		</section>
		<section class="agencies">
			<h2>Professional Experience</h2>
			<ul>

        <li ng-repeat="client in resume" class="client">
					<div class="location">
						<img src="http://maps.googleapis.com/maps/api/staticmap?center={{client.geo.x}},{{client.geo.y}}&markers={{client.geo.x}},{{client.geo.y}}&zoom=2&size=180x100&sensor=false">
						<img src="http://maps.googleapis.com/maps/api/staticmap?center={{client.geo.x}},{{client.geo.y}}&markers={{client.geo.x}},{{client.geo.y}}&zoom=10&size=180x100&sensor=false">
					</div>
					<h3 class="client-name fa fa-briefcase"><a href="{{client.link}}" target="_blank">{{client.title}}</a></h3>
					<p class="client-description fa fa-wrench"><span ng-bind-html="client.description"></span></p>
					<p class="client-location fa fa-map-marker"><span>{{client.location}}</span></p>
					<p class="client-date fa fa-calendar"><em>{{client.date}}</em></p>
        </li>

      </ul>
		</section>
		<section class="education">
			<h2>Education</h2>
			<ul>
				<li>
					<div class="location">
						<img src="http://maps.googleapis.com/maps/api/staticmap?center=51.918829,4.48849&markers=52.401329,4.89296&zoom=2&size=180x100&sensor=false">
						<img src="http://maps.googleapis.com/maps/api/staticmap?center=51.918829,4.48849&markers=52.401329,4.89296&zoom=10&size=180x100&sensor=false">
					</div>
					<h3 class="client-name fa fa-institution">Hogeschool Rotterdam</h3>
					<p class="client-description fa fa-graduation-cap"><span>Bachelor of Science, Communication &amp; Multimedia Design<br>
						<em>Graduated with a Major in Communication &amp; Multimedia Design, a Minor in Motion Graphics and a thesis on Augmented Reality.</em></span></p>
					<p class="client-location fa fa-map-marker"><span>Rotterdam, the Netherlands</span></p>
					<p class="client-date fa fa-calendar"><em>2004 - 2009</em></p>
				</li>
			</ul>
		</section>
		<section class="references">
			<h2>References</h2>
			<ul>
				<li><p>References available on <a href="mailto:contact@mauricemelchers.nl" target="_blank">request</a>.</p></li>
			</ul>
		</section>
		<section class="onlineprofiles">
			<h2>Online Profiles</h2>
			<p>
				<a href="https://www.linkedin.com/in/mauricemelchers" target="_blank" title="view my Linkedin profile"><i class="fa fa-linkedin-square"></i>Linkedin</a>
				<a href="https://github.com/mephysto" target="_blank" title="view my Github profile"><i class="fa fa-github-square"></i>Github</a>
				<a href="https://twitter.com/mephysto" target="_blank" title="view my Twitter profile"><i class="fa fa-twitter-square"></i>Twitter</a>
			</p>
		</section>
	</div>
</div> <!-- #main -->
