<div class="main wrapper clearfix">
	<div class="workmain" id="">
		<p class="name">Maurice Melchers</p>
		<p class="title">Front-end Webdeveloper</p>
		<section class="intro">
			<h1>Recent Work</h1>
			<p>Here's a selection of my recent work. My primary job has been front-end webdevelopment. Meaning HTML, CSS, &amp; Javascript.</p>
			<p>On most of my recent projects, I've also been tasked to create the Interaction Design, and a working prototype based on that. Furthermore, I've been a major part of the concepting phase as well.</p>
		</section>
		<section class="clearfix">
			<div class="text">
				<h2>ECU Lifelessons</h2>
				<p>When <abbr title="Edith Cowan University">ECU</abbr> was in the process of updating their site to a new design, Longtail was tasked on creating a new landing page for future students. So we created a framework where we could 'hang in' future sites.</p>
				<p>For this project I was part of the concepting team, the Interaction Designer, and front-end developer.</p>
				<a href="https://www.ecu.edu.au/degrees/overview" target="_blank">www.ecu.edu.au/degrees/overview <i class="fa fa-external-link"></i></a>
			</div>
			<div class="image">
				<img src="img/eculife.jpg">
			</div>
		</section>
		<section class="clearfix">
			<div class="text">
				<h2>HBF Amaze</h2>
				<p>HBF Health Insurance knows that everyone has the potential to be healthy and amazing, and they want to help every person in <abbr title="Western Australia">WA</abbr> to achieve that goal. So we built the world's first Facebook ‘AMAZE’ app to evaluate your personal Amaze score and let you compete and share it with the rest of the state.</p>
				<p>When a user connects to Facebook through the app, we looked at a range of data like the number of tagged photos, likes, friends, events, check-ins, even the frequency of certain key words. This data was then fed into our algorithm to create a personal Amaze score.</p>
				<p>I was part of the concepting team, I created the Interaction Design, and I created the front-end for this</p>
				<a href="http://www.youramaze.com.au/" target="_blank">www.youramaze.com.au <i class="fa fa-external-link"></i></a>
			</div>
			<div class="image">
				<img src="img/hbfamaze.jpg">
			</div>
		</section>
		<section class="clearfix">
			<div class="text">
				<h2>ECU Hits</h2>
				<p><abbr title="Edith Cowan University">ECU</abbr> needed a more meaningful experience on their audience. So <a href="http://www.longtail.com.au/" target="_blank">Longtail</a> created ECU Hits, an underground radio station powered by its users.  Any student, future or current, could discover, listen, and share their ultimate playlist themed around an ECU study area.</p>
				<p>Was part of the concepting, created the interaction design, and the front-end.</p>
				<a href="http://www.ecuhits.com.au/" target="_blank">www.ecuhits.com.au <i class="fa fa-external-link"></i></a>
			</div>
			<div class="image">
				<img src="img/ecu-hits.jpg">
			</div>
		</section>
		<section class="clearfix">
			<div class="text">
				<h2>Kingspark Naturescape</h2>
				<p>Rio Tinto Naturescape Kings Park is a public park in the middle of Perth, Australia. This part of the park is dedicate for children to be educated about the environment. The major challenge of this project was to create a accessible overview of the park while still maintaining an exciting user experience.</p>
				<a href="http://naturescape.dev.longtailportfolio.com/" target="_blank">Naturescape <i class="fa fa-external-link"></i></a>
			</div>
			<div class="image">
				<img src="img/naturescape.jpg">
			</div>
		</section>
		<section class="moreprojects">
			<h2>Other work...</h2>
			<p> 
				<a href="http://www.ecucoursefinder.com.au/" target="_blank">ECU Coursefinder</a>, <a href="http://meetthemachines.ecu.edu.au/" target="_blank">ECU Meet the machines</a>, <a href="http://thebond.org.au" target="_blank">Lotterywest The Bond</a>, <a href="http://www.longtail.com.au/" target="_blank">Longtail</a>, <a href="http://kirkcaldies.co.nz/" target="_blank">Kirkcaldie &amp; Stains</a>, <a href="http://www.artandobject.co.nz/" target="_blank">Art + Object</a>, <a href="https://www.worldvision.org.nz/" target="_blank">World Vision New Zealand</a>, <a href="http://www.burgerking.co.nz/" target="_blank">Burger King New Zealand</a>.
			</p>
		</section>
	</div>
</div> <!-- #main -->