<div class="content-work wrapper clearfix">
	<div class="workmain">
		<p class="name">Maurice Melchers</p>
		<p class="title">Front-end Web Developer</p>
		<section class="intro">
			<h1 class="fa fa-briefcase">Work</h1>
			<p>My specialty is front-end web development. I enjoy developing aesthetic and functional websites, in line with approved designs. I also enjoy building prototypes for new concepts as an interactive designer, and work towards achieving optimal responsive design, accessibility, usability, and performance for all of my projects.
			<p>I'm not always a Lone Ranger, though! When working with agencies, I like to actively participate in creative ideation and conceptiong for large scale digital projects.</p>
			<p>Here is a selection of recently completed work.</p>
		</section>

		<!-- look into ngbindhtml-->
    <section class="clearfix" ng-repeat="client in work">
    	<div class="text">
				<h2>{{client.title}}</h2>
				<p ng-bind-html="client.shortdescription"></p>
				<div class="work-more-info">
					<span>more info</span>
					<p ng-repeat="paragraph in client.longdescription" ng-bind-html="paragraph"></p>
				</div>
				<a ng-href="{{client.externalLink}}" target="_blank">{{client.externalLinkName}}<i class="fa fa-external-link"></i></a>
			</div>
			<a ng-href="{{client.externalLink}}" target="_blank" class="image clearfix" style="background-image:url('{{client.image}}')">
				<img src="{{client.image}}">
			</a>

    </section>

		<!-- WORK: MORE WORK -->
		<section class="moreprojects">
			<h2>Other work...</h2>
			<p> 
				<a href="http://www.ecucoursefinder.com.au/" target="_blank">ECU Coursefinder</a>, <a href="http://meetthemachines.ecu.edu.au/" target="_blank">ECU Meet the machines</a>, <a href="http://thebond.org.au" target="_blank">Lotterywest The Bond</a>, <a href="http://www.longtail.com.au/" target="_blank">Longtail</a>, <a href="http://kirkcaldies.co.nz/" target="_blank">Kirkcaldie &amp; Stains</a>, <a href="http://www.artandobject.co.nz/" target="_blank">Art + Object</a>, <a href="https://www.worldvision.org.nz/" target="_blank">World Vision New Zealand</a>, <a href="http://www.burgerking.co.nz/" target="_blank">Burger King New Zealand</a>.
			</p>
		</section>
	</div>
</div> <!-- #main -->