.content-landing.wrapper.clearfix
  #maincard.landing-card.active
    .landing-card-shadow
    .landing-card-background
    .landing-card-content
      h1 Mephysto
      h2 Maurice Melchers
      p
        | Front End Web Developer.
        br
        a.btnLightning(href='/#/work')
          i.fa.fa-briefcase
          | Work
        a.btnLightning(href='/#/resume')
          i.fa.fa-th-list
          | Resume
        a.btnLightning(href='mailto:contact@mauricemelchers.nl', target='_blank')
          i.fa.fa-envelope
          | Contact me
// #main
