// Mixins
// --------------------------

@mixin fa-icon-rotate($degrees, $rotation) {
  transform: rotate($degrees);
}

@mixin fa-icon-flip($horiz, $vert, $rotation) {
  transform: scale($horiz, $vert);
}

@keyframes btnEnter {
  0% {
    transform: rotateX(30deg) translate3d(0,200px,-300px);
  }
  100% {
    transform: rotateX(0deg) translate3d(0,0px,0px);
  }
}
@keyframes btnStar {
  0% {
    transform: rotate(-1deg) skew(1deg) scale(0.99);
  }
  50% {
    transform: rotate(0deg) skew(0deg) scale(1);
  }
  100% {
    transform: rotate(-1deg) skew(1deg) scale(0.99);
  }
}