/*! Mephysto */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
@import 'normalize';
@import 'mixins';

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Arvo:400,700);

@mixin HeadingFont{
  font-family: 'Arvo', sans-serif, Helvetica, Helvetica Neue, Arial;
  font-weight: 400;
}
@mixin BodyFont{
  font: 10px 'Droid Sans', sans-serif, Helvetica, Helvetica Neue, Arial;
}

body {
  @include BodyFont;
  transform: translateZ( -200px );
}
h1, h2, h3{
  @include HeadingFont;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}


/* ==============
  MOBILE: Menu
   ============== */

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "fontawesome/font-awesome";
@import "angular-animations";

html{
  box-sizing: border-box;
}
* {
  box-sizing:inherit;
  &:before,
  &:after {
    box-sizing:inherit;
  }
}
body, html{
  height: 100%;
  width: 100%;
}
body{
  background: #ad0000 url(../img/build/grid.gif);
  font-size: 10px;
}
a, a:visited{
  color:inherit;
};

@import "header";

.btnLightning:hover:before{
  content: "";
  display: block;
  position: absolute;
  top: -105px;
  left: -95px;
  width: 520px;
  height: 245px;
  z-index: 9999;
  background: url('../img/build/btn-star.png') no-repeat;
  pointer-events: none;
  animation: btnStar 150ms infinite ease;
  filter: url(#squiglyfilter);
}

.main-container{
  transform-style: preserve-3d;
  perspective:700px;
  height: 100%;
  padding: 50px 0 100px;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;

}

/* LANDING */
.content-landing{
}

.landing-card{
  transition: transform 1s ease-out;
  transform-style: preserve-3d;
  width: 700px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -250px;
  transform: translate3d(0,0,1000px);
  backface-visibility: hidden;
  &.active{
    transform: translate3d(0,0,0px);
  }
}
.landing-card-shadow{
  content: "";
  width: 700px;
  height: 500px;
  background: url(../img/build/card-shadow.png) no-repeat center center;
  background-size: contain;
  display: block;
  position: absolute;
  top:0;
  left:0;
  transform: translate3d(0,0,-200px);
}
.landing-card-background{
  position: absolute;
  top:0;
  left:0;
  width: 700px;
  height: 500px;
  background: url(../img/build/card-bg.png) no-repeat center center;
  background-size: contain;
  transform: translate3d(0,0,-25px);
}
.landing-card-content{
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -160px;
  width: 340px;
  height: 200px;
  transform: translate3d(0,0,0px);
  transform-style: preserve-3d;
  h1{
    color: #FFFFFF;
    background: url(../img/build/logo-mid.png) no-repeat;
    background: url(../img/build/logo-no-bg.svg) no-repeat;
    background-size: contain;
    width: 250px;
    height: 241px;
    text-indent: -999em;
    position: absolute;
    top: -180px;
    left: -130px;
    transform: translate3d(0,0,-10px);
    transform-style: preserve-3d;
    &::before{
      content:"";
      width:250px;
      height: 241px;
      display: block;
      position: absolute;
      transform: translate3d(-10px, 10px, -40px);
      background: url(../img/build/logo-triangle.svg) no-repeat;
      background-size: contain;
    };
  }
  h2{
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 3em;
    font-weight: normal;
    text-align: right;
    transform: translateZ(5px);
  }
  p{
    margin-top: 0;
    padding-left: 60px;
    font-size: 1.6em;
    text-align: right;
  }
  a{
    text-align: left;
    display: block;
    margin-top: 13px;
    margin-left: -50px;
    padding: 0.25em 0.5em;
    font-size: 1.2em;
    line-height: 1.5em;
    display: block;
    background: #FFF;
    color: #000000;
    margin-bottom: 10px;
    transition: transform 100ms ease-out;
    text-decoration: none;
    transform: translateZ(0px);
    &:hover{
      transform: translateZ(35px);
    };
    i{
      margin-right: 0.25em;
    }
  }
}

/* WORK */
.content-work{
  background: #FFFFFF;
  border-radius: 2px;
  padding: 10px 30px;

  h1{
    font-size: 3em;
    margin: 0;
    &::before{
      margin-right: 10px;
    }
    i.fa{
      margin-right: 5px;
    }
  }
  h2{
    margin: 10px 0 0 0;
    font-size: 2em;
  }
  h3{
    font-size: 1.5em;
  }
  p{
    font-size: 1.5em;
  }
  p.name{
    @include HeadingFont;
    text-align: center;
    font-size: 3em;
    padding: 0;
    text-transform: uppercase;
    margin: 30px 0 0 0;
  }
  p.title{
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
    padding: 0 0 10px 0;
    color: #444;
    border-bottom: 2px solid #222222;
  }
  section{
    border-top: 1px solid #444444;
    padding: 15px 0;

    transform-style: preserve-3d;
    &.intro{
      border: none;
      padding: 0 0 15px 0;
      p {
        font-size: 1.75em;
      }
    }
    ul{
      padding: 0 0 0 1.75em;
      margin: 0.5em 0 0 0;
      > li{
        font-size: 1.25em;
        line-height: 1.5em;
        em{
          font-size: 0.9em;
        }
      }
    }
  }
  .text{
    padding: 0 10px 0 0;
    transform: rotateX(0deg) rotateY(4deg) translate3d(0px, 0px, 0px);
    background: #FFFFFF;
    > a{
      display: block;
      text-align: right;
      // font-size: 1.4em;
    }
    a, a:visited, a:active{
      color: #333;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    };
  }
  .image{
    transform: rotateX(0deg) rotateY(-4deg) translate3d(0px, 0px, 0px);
    display: block;
    text-align: right;
    padding: 15px 0 15px 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    img{
      width: 100%;
      max-width: 300px;
      float: left;
      visibility: hidden;
    }
  }
  .moreprojects {
    a{
      color: #333;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      };
    }
  }
}

.work-more-info{
  padding-left: 1em;
  span{
    font-size: 1.25em;
    font-style: italic;
    /* text-align: right; */
    display: block;
    text-decoration: underline;
  }
  p{
    // display: none;
    font-size: 1.25em;
  }
  span {
    display: none;
  }
  &:hover{
    span{
      // display: none;
    }
    p{
      display: block;
    }
  }
}

@import "page-resume";

.footer-container{
  background: #000000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  footer{
    padding: 10px 0;
    margin: 0;
    width: 100%;
    > p{
      color: #FFFFFF;
      display: inline;
      line-height: 20px;
      margin: 0 0 0 5px;
      padding: 0;
      a, a:visited{
        color: inherit;
      }
      a:hover{
        .fa{
          text-shadow: 0 0 5px rgba(255,255,255,0.35);
        }
      };
      .fa{
        font-size: 1.5em;
      }
      .fa + span{
        display: none;
      }
    }
  }
}
.footer__social{
  &:not(:last-child){
    margin-right: 5px;
  }
}
.footer-like {
  float: right;
  width: 200px;
  height: 20px;
  display: inline-block;
  text-align: right;
  margin: 0 10px 0 0;
  position: relative;
  p {
    background: #FFFFFF;
    line-height: 20px;
    color: #2222ca;
    margin: 0;
    padding: 0 5px;
  border-radius: 2px;
    > span {
      display: none;
    }
  }
  iframe{
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    box-sizing: content-box;
    max-width: 200px;
    min-height: 20px;


    border: none;
    overflow: hidden;
    background: #FFF;
    padding: 6px;
    border-radius: 2px;
    // margin-bottom: 40px;
  }
  &:hover iframe{
    display: block;
  }
}

@import "mediaqueries";

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
