/*! Mephysto */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
@import 'normalize';
@import 'mixins';

.hidden {
	display: none !important;
	visibility: hidden;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  @include BodyFont;
  // background: #ad0000 url(../img/build/grid.gif);
  // background: #ad0000;
  background: #ad0000;
  font-size: 10px;
}

* {
  box-sizing:inherit;
  &:before,
  &:after {
    box-sizing:inherit;
  }
}

.wrapper {
  width: 90%;
  margin: 0 5%;
  @media only screen and (min-width: 1140px) {
    width: 1026px;
    margin: 0 auto;
  }
}

h1, h2, h3{
  @include HeadingFont;
}

a, a:visited{
  color:inherit;
};

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat:400,700');
@import "fontawesome/font-awesome";
@import "header";
@import "footer";

.main-container{
  // background-color: #ad0000;
}

.hero{
  max-height: 100vw;
  height: 100vh;
  // background: #ad0000 url(../img/build/grid.gif);
  background-image: url(../img/retro-background.jpg);
  background-color: purple;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &:before{
    content: "";
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  h2{
    position: relative;
    margin: 0;
    // padding-left: 15px;
    // padding-right: 15px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 120px;
    @include fluid-type(600/16 * 1rem, 1080 / 16 * 1rem, 64/16 * 1rem, 180/16 * 1rem);
    text-transform: uppercase;
    margin: 0;
    padding-left: 0.30em;
    padding-right: 0.30em;
    color: transparent;
    position: relative;
    transform: skew(45deg);
    span{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      color: transparent;
      overflow: hidden;
      // transition: all 1000ms ease-out;
      &:first-child{
        width: 50%;
        margin-left: 0em;
        &:before{
          padding-left: 0.30em;
        }
        &:after{
          padding-left: 0.30em;
          color: rgba(blue, 0.25);
        }
      }
      &:last-child{
        width: 50%;
        left: 50%;
        top: 0;
        text-indent: -87%;
        transform: translate(5px,10px);
        &:before{
          padding-right: 0.30em;
        }
        &:after{
          padding-right: 0.30em;
          color: rgba(red, 0.25);
        }
      }
      &:before,
      &:after{
        // transition: all 1000ms ease-out;
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-text);
        text-shadow: 1px 2px 1px rgba(#000, 0.33);
        transform: skew(-45deg);
      }
      &:before{
        z-index: 200;
        color: white;
      }
      &:after{
        z-index: 100;
      }
    }
    &:hover{
      span:before{
        transform: skew(-45deg) translate(0px, -2px);
      }
      span:first-child{
        &:after{
          transform: skew(-45deg) translate(-2px, 2px);
          animation: hero-shake 150ms infinite ease;
        }
      }
      span:last-child{
        &:after{
          transform: skew(-45deg) translate(2px, 2px);
          animation: hero-shake 150ms infinite ease;
        }
      }
    }    
  }
  p{
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFF;
    position: relative;
    text-align: center;
    @include fluid-type(600/16 * 1rem, 1080 / 16 * 1rem, 16/16 * 1rem, 32/16 * 1rem);
  }
}