@import 'mixins';

.content-work{
  padding: 10px 30px 50px;
  background: #FFFFFF;
  border-radius: 2px;
  @include mdShadowLevel(1);
  section{
    border-top: 1px solid #444444;
    padding: 60px 0 40px;
    transform-style: preserve-3d;
    &.intro{
      border: none;
      p {
        font-size: 1.8em;
        line-height: 1.5;
      }
    }
    ul{
      padding: 0 0 0 1.75em;
      margin: 0.5em 0 0 0;
      > li{
        font-size: 1.25em;
        line-height: 1.5em;
        em{
          font-size: 0.9em;
        }
      }
    }
  }
  h1{
    font-size: 4em;
    margin: 0;
    text-shadow: 1px 1px 0px #fff, 2px 2px 0px #333;
    &::before{
      margin-right: 10px;
    }
    i.fa{
      margin-right: 0.5em;
      text-shadow: none;
    }
  }
  h2{
    margin: 10px 0 20px 0;
    font-size: 3em;
  }
  h3{
    font-size: 1.5em;
  }
  p{
    font-size: 1.6em;
  }
  .text{
    padding-bottom: 20px;
    background: #FFFFFF;
    text-align: center;
    a{
      text-shadow: 1px 1px 0px #fff, 2px 2px 0px #333;
    }
    a, a:visited, a:active{
      color: #333;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    };
    @media only screen and (min-width: 768px) {
      margin: 0 10% 10px;
    }
  }
  .image{
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin-left: auto;
    margin-right: auto;
    // max-height: 200px;
    img{
      // width: 100%;
      // max-width: 300px;
      max-width: 100%;
      height: auto;
      visibility: hidden;
    }
    @media only screen and (min-width: 640px) {
      min-width: 400px;
      max-width: 50%;
    }
  }
  .moreprojects {
    padding-bottom: 0;
    a{
      color: #333;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      };
    }
  }
  @media only screen and (min-width: 640px) {
    overflow: hidden;
    section:not(.moreprojects){
      &:before,
      &::after{
        background-color: #000;
        position: absolute;
        bottom: -21px;
        display: block;
        content: "";
        width: 40px;
        height: 40px;
        transform: translate(0,-0.5px) rotate(-45deg);
      }
      &:before{
        left: -50px;
      }
      &::after{
        right: -50px;
      }
    }
  }
}